= form_for ([ @question, @answer ]) do |f|
  = render 'addons/error_module', obj: @answer

  %fieldset
    = f.label :body, 'Answer'
    = f.text_field :body
  %fieldset
    = f.submit 'Post Answer', class: 'btn'